<header>
  <img
    src="/assets/img/gabriel.png"
    alt="Gabriel Leandro - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Gabriel Leandro</h1>
</header>

<aside>
  <div class="container">
    <p>Santos, São Paulo, Brasil</p>
    <p>
      Sou desenvolvedor Fullstack com experiência em desenvolvimento de
      aplicações web. Estou sempre em busca de novos desafios e
      oportunidades para aprender e me desenvolver profissionalmente.
    </p>
    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"
            >Currículo</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/gabriel-leandrods/"
            target="_blank"
            class="btn btn-primary"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Gabriel-Leandr0/"
            target="_blank"
            class="btn btn-primary"
            >GitHub</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure class="btn btn-primary">
        <img
          src="/assets/icons/whatsapp.svg"
          alt="Ícone para contato do WhatsApp"
          width="22px"
          height="22px"
        />
        <figcaption>
          <a href="https://wa.link/47d6nf" target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (13) 9 99645-1638</p>
          </a>
        </figcaption>
      </figure>

      <figure class="btn btn-primary">
        <img
          src="/assets/icons/mail.svg"
          alt="Ícone para contato do e-mail"
          width="22px"
          height="22px"
        />
        <figcaption>
          <a href="mailto:gabriel.leandrods@gmail.com" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>gabriel.leandrods&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
