:root{
    // --primary-color: #590B28;
    --primary-color: #501279;
    
    --primary-010: #21804d;

    --secondary-color: #8a0667;
    --secondary-010: #06374e;

    --white: #fff;

    --black: #10101a;
    --black-010: #2a2a30;

    --grey: #d2d2d5;
}